parameters:
    level: 6
    checkGenericClassInNonGenericObjectType: false

    paths:
        - src

    ignoreErrors:
        # Impossible to define type hint for anonymous class
        -
            message: '#Call to an undefined method PhpParser\\NodeVisitorAbstract::(getNode|setConstantName)\(\)#'
            path: %currentWorkingDirectory%/src/SourceLocator/Type/AutoloadSourceLocator.php

        -
            message: "#^Declaring PHPStan namespace is not allowed in 3rd party packages\\.$#"
            count: 1
            path: src/BetterReflection.php
